In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
from google.cloud import bigquery

In [8]:
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [10]:
datasetref = client.dataset('chicago_crime', project="bigquery-public-data")
dataset    = client.get_dataset(datasetref)
tables     = client.list_tables(dataset)

In [11]:
tableref = datasetref.table('crime')
table    = client.get_table(tableref)

In [12]:
table

Table(TableReference(DatasetReference('bigquery-public-data', 'chicago_crime'), 'crime'))

In [13]:
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [14]:
client.list_rows(table,max_results = 12).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,5039,HR349878,2009-05-30 11:53:00+00:00,009XX E 104TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,9.0,50.0,01A,1184238.0,1836191.0,2009,2022-09-18 04:45:51+00:00,41.705678,-87.600944,"(41.705677782, -87.600944364)"
1,21129,HW495229,2013-10-16 03:24:00+00:00,105XX S LAFAYETTE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,True,False,...,34.0,49.0,01A,1177791.0,1835077.0,2013,2022-09-18 04:45:51+00:00,41.702769,-87.624586,"(41.702768847, -87.624586143)"
2,21081,HW448778,2013-09-12 02:59:00+00:00,001XX W 104TH PL,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,34.0,49.0,01A,1177286.0,1835665.0,2013,2022-09-18 04:45:51+00:00,41.704394,-87.626418,"(41.704393792, -87.626417643)"
3,4638,HP461457,2008-07-19 12:35:00+00:00,105XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,PORCH,False,False,...,34.0,49.0,01A,1176812.0,1835178.0,2008,2022-08-31 04:51:30+00:00,41.703068,-87.628168,"(41.703068059, -87.628167951)"
4,2680,HK308329,2004-04-17 11:35:00+00:00,106XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,34.0,49.0,01A,1176839.0,1834173.0,2004,2022-09-18 04:45:51+00:00,41.700310,-87.628099,"(41.700309589, -87.628099219)"
5,20625,HV484609,2012-09-20 11:13:00+00:00,002XX W 106TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,34.0,49.0,01A,1176557.0,1834650.0,2012,2022-09-18 04:45:51+00:00,41.701625,-87.629118,"(41.701624878, -87.629117507)"
6,22714,HZ396660,2016-08-18 12:00:00+00:00,105XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,PORCH,False,False,...,34.0,49.0,01A,1176814.0,1835095.0,2016,2022-09-18 04:45:51+00:00,41.702840,-87.628163,"(41.702840251, -87.628163116)"
7,1618,HH510318,2002-07-15 05:00:00+00:00,106XX S LASALLE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,NaN,NaN,01A,1177156.0,1834531.0,2002,2022-08-31 04:51:30+00:00,41.701285,-87.626928,"(41.701284863, -87.626927742)"
8,7451395,HS252974,2010-04-11 06:30:00+00:00,103XX S WABASH AVE,0263,CRIM SEXUAL ASSAULT,AGGRAVATED: KNIFE/CUT INSTR,ABANDONED BUILDING,False,False,...,9.0,49.0,02,1178406.0,1836224.0,2010,2018-02-10 03:50:01+00:00,41.705902,-87.622300,"(41.705902463, -87.622299502)"
9,3607529,HK696976,2003-05-01 07:00:00+00:00,105XX S LAFAYETTE AVE,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,RESIDENCE,True,False,...,34.0,49.0,02,1177789.0,1835120.0,2003,2018-02-28 03:56:25+00:00,41.702887,-87.624592,"(41.702886891, -87.624592171)"
10,7127472,HR537025,2009-08-21 08:00:00+00:00,007XX E 104TH ST,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,9.0,50.0,02,1182956.0,1836156.0,2009,2018-02-28 03:56:25+00:00,41.705612,-87.605640,"(41.705611562, -87.605639976)"
11,11583152,JC137224,2019-02-02 05:30:00+00:00,106XX S LAFAYETTE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,SIDEWALK,False,False,...,34.0,49.0,02,1177808.0,1834497.0,2019,2019-02-09 04:19:07+00:00,41.701177,-87.624541,"(41.701176862, -87.624541373)"

In [16]:
q1 = """
        SELECT distinct location_description
        FROM `bigquery-public-data.chicago_crime.crime`
        """

In [18]:
client.query(q1).to_dataframe()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

       location_description
0                    STREET
1                      AUTO
2                     HOUSE
3                      YARD
4    VEHICLE NON-COMMERCIAL
..                      ...
211           ROOMING HOUSE
212     LIVERY STAND OFFICE
213         POLICE FACILITY
214                POOLROOM
215          FUNERAL PARLOR

[216 rows x 1 columns]

In [22]:
client.list_rows(table,max_results=2).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,5039,HR349878,2009-05-30 11:53:00+00:00,009XX E 104TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,9,50,01A,1184238.0,1836191.0,2009,2022-09-18 04:45:51+00:00,41.705678,-87.600944,"(41.705677782, -87.600944364)"
1,21129,HW495229,2013-10-16 03:24:00+00:00,105XX S LAFAYETTE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,True,False,...,34,49,01A,1177791.0,1835077.0,2013,2022-09-18 04:45:51+00:00,41.702769,-87.624586,"(41.702768847, -87.624586143)"

In [61]:
q2 = """
        SELECT arrest ,count(arrest)
        FROM `bigquery-public-data.chicago_crime.crime`
        group by arrest
        """

In [62]:
client.query(q2).to_dataframe()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   arrest      f0_
0   False  5620482
1    True  2017360

In [77]:
q3 = """
        SELECT arrest,year
        FROM `bigquery-public-data.chicago_crime.crime`
        """

In [68]:
df = client.query(q3).to_dataframe()

In [69]:
df.head()

                      description    location_description  arrest  year
0             FIRST DEGREE MURDER                   HOUSE   False  2012
1  ARMED:KNIFE/CUTTING INSTRUMENT               RESIDENCE   False  2002
2  ARMED:KNIFE/CUTTING INSTRUMENT                   ALLEY   False  2016
3  ARMED:KNIFE/CUTTING INSTRUMENT                SIDEWALK   False  2005
4   ARMED: OTHER DANGEROUS WEAPON  VEHICLE NON-COMMERCIAL   False  2004

In [70]:
df.year.value_counts()

2002    486791
2001    485852
2003    475977
2004    469416
2005    453761
2006    448167
2007    437073
2008    427154
2009    392816
2010    370477
2011    351947
2012    336247
2013    307436
2014    275709
2016    269748
2017    268982
2018    268671
2015    264698
2019    261121
2020    211878
2021    207868
2022    166053
Name: year, dtype: int64

In [73]:
dry_run_config = bigquery.QueryJobConfig(dry_run=True)
dry_run_query_job = client.query(q2, job_config=dry_run_config)
print("This query will process {} bytes.".format(dry_run_query_job.total_bytes_processed))

This query will process 1610194734 bytes.

In [78]:
ONE_MB = 1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_MB)
safe_query_job = client.query(q3, job_config=safe_config)
safe_query_job.to_dataframe()

InternalServerError: 500 Query exceeded limit for bytes billed: 1000000. 69206016 or higher required.

(job ID: 186d46c9-516c-4c5c-a7d3-e175a3fdebe3)

              -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:        SELECT arrest,year
   3:        FROM `bigquery-public-data.chicago_crime.crime`
   4:
    |    .    |    .    |    .    |    .    |    .    |

In [79]:
ONE_GB = 1000*1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_GB)
safe_query_job = client.query(q3, job_config=safe_config)
safe_query_job.to_dataframe()

         arrest  year
0         False  2001
1          True  2001
2         False  2001
3         False  2001
4         False  2001
...         ...   ...
7637837   False  2022
7637838   False  2022
7637839   False  2022
7637840    True  2022
7637841    True  2022

[7637842 rows x 2 columns]

In [82]:
print("This query will process {} bytes.".format(safe_query_job.total_bytes_processed))
#safe_query_job.score.mean()

This query will process 68740578 bytes.